* {
  padding: 0;
  margin: 0;
  font-family: 'microsoft yahei';
}
html {
  background-color: #FFD;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 460px;
}

#search-host {
  padding: 5px 10px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: none 0;
  color: #565a6b;
  font-size: 14px;
  border: 1px solid #dbdfe7;
  border-radius: 5px;
  background: #fff;
}

#host-group {
  font-size: 0;
  width: 460px;
  height: 580px;
  overflow-x: hidden;
  overflow-y: auto;
}

.host {
  position: relative;
  display: inline-block;
  /*border: 2px solid red;*/
  /*margin: 8px 8px 8px 0;*/
  padding: 5px;
  width: 210px;
  cursor: pointer;
  /*height: 50px;*/
  /*background: #DDD;*/
  /*font-size: 12px;*/
}

.enabled.host {
  color: #3c763d;
}

.host-name {
  font-size: 14px;
  margin-bottom: 10px;
}

.host-name .note {
  float: right;
}

.host-info {
  border: 2px solid #DDD;
  padding: 5px;
  background: #EEE;
  height: 100%;
}

.enabled .host-info {
  border-color: #3c763d;
  background-color: #dff0d8;
}

.current-ip {
  font-size: 18px;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
  opacity: 0.5;
}

.modal {
  padding-top: 30px;
  background-color: #FFF;
  z-index: 100;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -150px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selectIpModal {
  padding: 30px;
}

ul.chooseIp {
  width: 160px;
  margin: 0 auto;
  list-style: none;
  cursor: pointer;
}

ul.chooseIp li {
  margin-bottom: 5px;
  padding: 5px;
}

ul.chooseIp li.enabled, ul.chooseIp li:hover {
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  color: #3c763d;
} 

ul.chooseIp li {
  background-color: #EEE;
  border: 1px solid #ddd;
} 

.operations {
  position: absolute;
  bottom: 14px;
  right: 10px;
  font-size: 14px;
  line-height: 14px;
  list-style: none;
}

.operations li {
  display: inline-block;
  width: 14px;
  text-align: center;
}

.operations li:hover {
  background-color: #ccc;
}

.editHostModal {
}

.editHostModal .input,
.editHostModal .list {
  padding: 0 55px 0 30px;
}

.editHostModal .input {
  margin-bottom: 10px;
  height: 40px;
}

.editHostModal label {
  display: block;
  float: left;
  padding: 0 15px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  color: #565a6b;
  font-weight: 700;
}

.editHostModal input {
  padding: 5px 10px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: none 0;
  color: #565a6b;
  font-size: 14px;
  border: 1px solid #dbdfe7;
  border-radius: 5px;
  background: #fff;
}

.editHostModal .list {
  padding-bottom: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.editHostModal .list input {
  margin-bottom: 10px;
}

.editHostModal .host-list {
  float: left;
}

.editHostModal .host-list span {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.editHostModal .icon {
  vertical-align: bottom;
}

.editHostModal .icon:hover {
  background-color: #ccc;
}

.editHostModal ul {
  list-style: none;
}

.editHostModal .operation {
  padding: 20px 0;
  text-align: center;
  background: #565a6b;
}

.editHostModal .operation button {
  padding: 6px 12px;
  background: #18b6e4;
  border: 1px solid #18b6e4;
  border-radius: 4px;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
}

.editHostModal .operation .cancel {
  margin-right: 20px;
  background: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.header {
  padding: 5px 5px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #62798f;
}

.header button {
  padding: 10px 12px;
  background: #18b6e4;
  border: 1px solid #18b6e4;
  border-radius: 4px;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
}

.hide {
  display: none;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.icon-edit {
  background: url(../images/gear_000000_14.png);
}

.icon-delete {
  background: url(../images/trash_000000_14.png);
}