* {
  padding: 0;
  margin: 0;
  font-family: 'microsoft yahei';
}
html {
  background-color: #fff;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 600px;
}

#search-host {
  padding: 5px 10px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: none 0;
  color: #565a6b;
  font-size: 14px;
  border: 1px solid #dbdfe7;
  border-radius: 5px;
  background: #fff;
}

#host-group {
  font-size: 0;
  height: 580px;
  overflow-x: hidden;
  overflow-y: auto;
}

.host {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 0 5px 10px;
  width: 280px;
  cursor: pointer;
  background: #dbdfe7;
}

.host:hover,
.host.enabled {
  padding: 4px;
  border: 1px solid #32ab32;
  background: rgba(3,166,1,.4);
}

.host:hover .operations,
.host.enabled .operations {
  top: 15px;
  right: 9px;
}

.host.enabled .current-ip {
  /*color: #ea664f;*/
  font-size: 18px;
  font-weight: 700;
  font-family: 'Arial';
}

.host-name,
.host-note,
.current-ip {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.host-name {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.host-status {
  margin: 7px 5px;
}

.host-status,
.host-info {
  float: left;
}

.host-info {
  padding: 5px 10px 5px 5px;
  overflow: hidden;
}

.host-note {
  float: right;
  width: 75px;
  text-align: right;
}

.current-ip {
  float: left;
  width: 155px;
}

.enabled .host-info {
}

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
  opacity: 0.5;
}

.modal {
  padding-top: 30px;
  background-color: #FFF;
  z-index: 100;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -150px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selectIpModal {
  padding: 30px;
}

.chooseIp {
  width: 160px;
  margin: 0 auto;
  list-style: none;
  cursor: pointer;
}

.chooseIp li {
  padding: 5px;
  margin-bottom: 10px;
  background: #dbdfe7;
}

.chooseIp li:hover,
.chooseIp li.enabled {
  padding: 4px;
  border: 1px solid #32ab32;
  background: rgba(3,166,1,.4);
}
.chooseIp li:hover .icon-duihao:before,
.chooseIp li.enabled .icon-duihao:before {
  color: #ee3769;
}

.operations {
  position: absolute;
  top: 16px;
  right: 10px;
  list-style: none;
}

.operations li {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.editHostModal .input,
.editHostModal .list {
  padding: 0 55px 0 30px;
}

.editHostModal .input {
  margin-bottom: 10px;
  height: 40px;
}

.editHostModal label {
  display: block;
  float: left;
  padding: 0 15px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  color: #565a6b;
  font-weight: 700;
}

.editHostModal input {
  padding: 5px 10px;
  width: 200px;
  height: 28px;
  line-height: 28px;
  border: none 0;
  color: #565a6b;
  font-size: 14px;
  border: 1px solid #dbdfe7;
  border-radius: 5px;
  background: #fff;
}

.editHostModal .list {
  padding-bottom: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.editHostModal .list input {
  margin-bottom: 10px;
}

.editHostModal .host-list {
  float: left;
}

.editHostModal .host-list span {
  float: right;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.editHostModal .icon {
  vertical-align: bottom;
}

.editHostModal .icon:hover {
  background-color: #ccc;
}

.editHostModal ul {
  list-style: none;
}

.editHostModal .operation {
  padding: 20px 0;
  text-align: center;
  background: #565a6b;
}

.editHostModal .operation button {
  padding: 6px 12px;
  background: #18b6e4;
  border: 1px solid #18b6e4;
  border-radius: 4px;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
}

.editHostModal .operation .cancel {
  margin-right: 20px;
  background: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.header {
  padding: 5px 5px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #62798f;
}

.header button {
  margin-top: -1px;
  padding: 10px 12px 11px;
  background: #18b6e4;
  border: 1px solid #18b6e4;
  border-radius: 4px;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
}

.hide {
  display: none;
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-duihao:before { content: "\e60b";font-size:24px;color: #999; }
.host.enabled .icon-duihao:before,.host:hover .icon-duihao:before {color: #f25561}
.icon-5:before { content: "\e604";font-size:16px;color: #5a5a5a; }
.icon-lajitong:before { content: "\e899";font-size:16px;color: #5a5a5a; }
